nav {
  box-shadow: 3px 3px 5px #555;
  margin: 0;
  color: #0a304e;
  /* width: 50px; */
  padding: 50px 0;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
ul {
  text-align: center;
  padding: 0;
  margin: 0;
}
li {
  color: #2d6997;

  display: inline;

  padding:  0 50px !important;

  width:  150px;
  transition-duration: .3s;

}
li:hover{
    /* font-weight: bold; */
    cursor: pointer;
    text-shadow: 1px 1px 1px rgb(124, 124, 204);
    
}

#banner {
  
  height: 350px;
}
#intrest {
  padding: 100px !important;
  text-align: center;
  background-color: rgb(241, 241, 241);
  padding: 50px;
}
#intrest h2{
  padding-top: 0;
  text-align: center;
  color: #2d6997;

}
#contact {
  text-align: center;
  background-color: #fff;
  padding: 100px;
}
#contact h3{
  padding-top: 0;
  text-align: center;
  color: #2d6997;
}
#first {
  padding: 0;
  margin: 0;
  display: inline;
  float: left;
  background-color blue;
  width: 40%;
  height: 100%;
  text-align: center;
}
#firstp{
  width: 100%;
  padding: 30px;
  padding-top: 0;
}
#first h3{
  text-align: right;
  font-size: 25px;
  line-height: 50px;
  padding-top: 0;
}
#left {
  padding: 0;
  margin: 0;
  display: inline;
  float: left;
  background-color blue;
  width: 20%;
  height: 100%;
  text-align: center;
}
#imagep {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#left img {
  border-radius: 50%;
}
#rcontents {
    margin: 100px 30px;
}

#right {
  
  padding-bottom: 50px ; 

  display: inline;
  float: left;
  width: 40%;
  height: 100%;

}
#right h1{
  color: #2d6997;

  font-size: 30px;
  font-family: 'Lemonada', cursive;
}
#right h3{
padding: 0;
}

#right p{
text-align: justify;
  color: #141f27;
}
footer{
  background-color: #222;
  padding: 30px;
  color: antiquewhite;
  text-align: center;
}
#intrest li{
  align-items: center;
}
#intrest i{
  font-size: 25px;
  align-items: center;
  transition-duration: .5s;
}
#intrest i:hover{
  transform: scale(2);
  transform: rotate(-90deg)
}

a{
  text-decoration: none;
  color: #141f27;
}
#about{
  padding-bottom: 50px;
}
@media only screen and (max-width:380px)
{
  #left {
    padding: 0;
    margin: 0;
    display: inline;
    float: left;
    background-color blue;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #imagep {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #right{
  
    padding-bottom: 50px ; 
  

    float: left;
    width: 100%;
    height: 100%;
  
  }
}